* {box-sizing: border-box;}
.movies {
  max-width: 1080px ;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  text-align: center;

  @media screen and (min-width: 320px) 
  and (max-width: 480px) {
    max-width: 440px;
    display: inline;
  }
}

.movies > div {
  border: 2px solid #2b6083;
  border-radius: 5px;
  padding: 1em;
  color: #2b6083;
  max-width: 230px;
}

.one {
  grid-column: 1;
  grid-row: 1;
}
.two { 
  grid-column: 2;
  grid-row: 1;
}
.three {
  grid-column: 3;
  grid-row: 1;
}
.four {
  grid-column: 4;
  grid-row: 1;
}
.five {
  grid-column: 1;
  grid-row: 2;
}
.six {
  grid-column: 2;
  grid-row: 2;
}

.seven {
  grid-column: 3;
  grid-row: 2;
}

.eight {
  grid-column: 4;
  grid-row: 2;
}

.nine {
  grid-column: 1;
  grid-row: 3;
}

.ten {
  grid-column: 2;
  grid-row: 3;
}

.eleven {
  grid-column: 3;
  grid-row: 3;
}

.twelve {
  grid-column: 4;
  grid-row: 3;
}

.thirteen {
  grid-column: 1;
  grid-row: 4;
}

.fourteen {
  grid-column: 2;
  grid-row: 4;
}

.fifteen {
  grid-column: 3;
  grid-row: 4;
}

.sixteen {
  grid-column: 4;
  grid-row: 4;
}

.seventeen {
  grid-column: 1;
  grid-row: 5;
}

.eighteen {
  grid-column: 2;
  grid-row: 5;
}

.nineteen {
  grid-column: 3;
  grid-row: 5;
}

.twenty {
  grid-column: 4;
  grid-row: 5;
}