.filter-menu {
  width: 800px;
  height: 400px;
  align-self: center;
  margin-left: 44%;
}

.check-list {
  display: inline;
}

.filter-list {
  height: 200px;
  overflow-y: scroll;
  align-self: left;
}